@import url('https://fonts.googleapis.com/css2?family=Anton&family=Libre+Bodoni:ital@1&family=Merriweather:ital,wght@1,300&family=Raleway:wght@300&family=Roboto+Serif:opsz,wght@8..144,100;8..144,300&family=Zen+Antique&display=swap');

.font{
    font-family: 'Libre Bodoni', serif;
    color: #354259;
    margin-left: 10px;
}
.category{
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
}

.btnCat{
    margin-left: 10px;
}

.catOnClick:focus{
    background-color: "cadetblue";
     color: "white"
}
.catOnClick:visited {
    background-color: blueviolet;
}
.btn-cat{
    margin-left: 10%;
}
// #style  {
//     background-color: red;
// }

// #style:focus {     
//     background-color:yellow;    
// }