@import url('https://fonts.googleapis.com/css2?family=Anton&family=Libre+Bodoni:ital@1&family=Merriweather:ital,wght@1,300&family=Raleway:wght@300&family=Roboto+Serif:opsz,wght@8..144,100;8..144,300&family=Zen+Antique&display=swap');

.font{
    font-family: 'Libre Bodoni', serif;
    color: #354259;
    margin-left: 10px;
}
.font2{
    font-family: 'Libre Bodoni', serif;
    margin-left: 10px;
}
.conta{
    width: 50%;
    margin: auto;
}